.wrapper {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 350px;
  padding-left: 1rem;
  padding-right: 1rem;
}

form {
  width: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 24px;
  padding: 3rem;
}

.form__text--intro {
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-weight: 600;
  color: #333333;
  white-space: pre-wrap;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.form__text--sub {
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: #333333;
  /* margin-top: 1rem;
  margin-bottom: 1.5rem; */
}

/* .input__field--email {
  margin-bottom: 1rem;
} */
.input__field--password {
  margin-bottom: 2rem;
}
input {
  width: 100%;
  outline: none;
  padding: 1.5rem 1.5rem 1rem 3.5rem;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
}
input::placeholder {
  font-size: 1.6rem;
  line-height: 2.1;
  font-weight: 400;
}
input:focus {
  outline: none;
}

.btn__action {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-weight: 600;
  background: #2f80ed;
  color: #fff;
}
.social__login {
  text-align: center;
  margin-top: 1rem;
}
.social__login--icons {
  display: flex;
  justify-content: space-evenly;
}
.social__caption--intro {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: #828282;
}
.social__caption--sub {
  margin-top: 2rem;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: #828282;
}
.icon {
  cursor: pointer;
}
.input__icon {
  position: relative;
  top: 3.5rem;
  left: 0.75rem;
}

/* User Page Index */
.user__image {
  width: 32px;
  height: 36px;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 0.75rem;
}
.img {
  max-width: 100%;
  height: 100%;
}

.user__wrapper {
  background: #fafafb;
  width: 100vw;
  height: 100vh;
}
.header__user {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem 0 4rem;
  align-items: center;
}
.header__user--details {
  display: flex;
  align-items: center;
  min-width: 12rem;
  justify-content: space-between;
}

.drop-down {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  cursor: pointer;
  /* position: relative; */
}
nav {
  position: absolute;
  top: 7rem;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  right: 4rem;
  padding: 1rem;
}
li {
  list-style: none;
  padding: 1rem;
  color: #4f4f4f;
}
li:hover {
  background: #f2f2f2;
  border-radius: 8px;
}

.nav__icon {
  margin-right: 0.5rem;
}
.link {
  text-decoration: none;
}
.username {
  color: #333333;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6rem;
}

.profile__container {
  color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  height: 48rem;
  /* margin: 0 1.5rem 0 1.5rem;  @mobile screens */
  max-width: 100%;
}

.profile__wrapper {
  max-width: 80rem;
  margin: 0rem auto;
}
.btn__profile {
  padding: 0 2rem 0 2rem;
  background: transparent;
  outline: none;
  cursor: pointer;
  border: 1px solid #828282;
  border-radius: 12px;
  color: #828282;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 500;
}

.profile__intro--text {
  text-align: center;
  margin-bottom: 1.75rem;
}

.profile__intro--text > h5 {
  color: #000000;
  font-size: 3.6rem;
  line-height: 4.9rem;
  font-weight: 400;
}

.profile__intro--text > p {
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #000000;
  font-weight: 300;
}
.profile__header--box {
  /* padding: 1.5rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  border-bottom: 1px solid #d3d3d3;
}
.profile {
  color: #000000;
  font-size: 2.4rem;
  line-height: 3.3rem;
  font-weight: 400;
}
.profile__sub {
  color: #828282;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.8rem;
}
